// Fonts

$headline:            'Chivo', sans-serif;
$copy:                'Chivo', sans-serif;





// Standard Colors

$white:               #ffffff;
$black:               #111111;
$lt-grey:							#ebebeb;


$contrast-color:      gold;





// Font colors

$copy-color:					#222222;





// Site specific colors

$bg:									#f2f2f2;
$border-color:				#e6e6e6;

$primary-color:				#E6007D;
$secondary-color:     gold;
$third-color:         #FCECF5;





// Durations

$base-duration:       300ms;
$link-duration:       200ms;